html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'brodo-inline';
    src: url('assets/BrodoInline.otf');
    font-weight: normal;
    font-style: normal;
}

:root {
	/* Color Scheme*/
	--lite: rgb(251, 251, 251);
	--dark: rgb(15, 15, 15);
	--off-lite: rgb(255, 253, 251);

	/* Text Styles */
	--raleway: "Raleway", sans-serif;
	--bold: bold;
	--italic: italic; 
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
	text-align: center;
	background-color: var(--lite);
}

h1, h2, h3, h4, a, p {
	color: var(--dark);
	text-decoration: none;
	padding: 2% 0;
}

h2, h3, h4, a, p {
	font-family: var(--raleway);
}

h2, h3, h4 {
	font-weight: var(--bold);
}

h1 {
	font-size: 15rem;
	font-family: 'brodo-inline', sans-serif;
	color: var(--off-lite);
	text-shadow: 5px 5px 1px black;
	letter-spacing: .9rem;
	padding: 0;
	margin-top: 6%;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 2.8rem;
}

h4 {
	font-size: 2rem;
}

p {
	width: 50%;
	margin: 0 auto;
}

.bold {
	font-weight: var(--bold);
}

.header-text p {
	color: var(--off-lite);
	text-shadow: 2px 2px 2px black;
	font-size: 3rem;
	padding: 0;
	font-family: var(--raleway);
}

header {
	height: 120vh;
	width: 100%;
	background-image: url(assets/header-bg-01.png);
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	box-shadow: 0 0 10px black;
	position: relative;
	z-index: 2;
}

.overlay {
	height: 20vh;
}

.hamburger {
	border: none;
	background: none;
	z-index: 99;
	cursor: pointer;
	display: flex;
	flex-direction: row-reverse;
	z-index: 100;
}

.fa-equals {
	font-size: 8rem;
	color: var(--off-lite);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: 7.5%;
	margin-top: 1.556%;
	width: 1.5%;
	height: 5%;
	padding: 0;
}


.fa-x {
	font-size: 3rem;
	color: var(--lite);
	z-index: 101;
	opacity: .8;
	display: none;
	position: fixed;
	width: 2%;
	height: 5%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 2%;
	margin-left: 6%;
}

.menu {
	position: fixed;
	width: 40%;
	opacity: .99;
	transform: translateX(-100%);
	transition: ease-out;
	transition-duration: 300ms;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	list-style: none;
	padding-top: 2%;
	z-index: 100;
}

.showMenu {
	position: fixed;
	width: 40%;
	opacity: .99;
	transform: translateX(0);
	transition: ease-in;
	transition-duration: 300ms;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	list-style: none;
	padding-top: 2%;
	z-index: 100;
}

.menuItem {
	font-size: 4.5rem;
	color: var(--lite);
	text-shadow: 1px 1px 4px rgb(24, 24, 24);
}

.fa-x:hover, .menuItem:hover {
	color: rgb(138, 138, 138);
}

.anchor {
	margin-top: 20%;
}

.menu-toggle {
	color: var(--dark);
}

li {
	width: 50%;
	text-align: left;
	margin-left: 40%;
	padding: 2%;
}

header nav {
	height: 20vh;
}

.logo {
	width: 30%;
	height: 30%;
	opacity: .9;
	margin-right: 1.25%;
	margin-top: 4%;
}

.spacer, .spacer1 {
	height: 10vh;
}

.spacer-wide {
	height: 20vh;
}

.about {
	box-shadow: 0 0 10px rgb(0, 0, 0, .5);
	background-color: var(--off-lite);
	padding: 0;
	position: relative;
	z-index: 1;
}

.about h2 {
	padding-top: 1%;
}

.about p {
	padding-bottom: 4%;
	padding-top: 0;
}

.jacy img, .ben img {
	width: 50%;
	border-radius: 50%;
	margin-top: 4%;
	box-shadow: 0 0 15px black;
}

.jacy-text, .ben-text {
	width: 100%;
	padding: 2% 8%;
	text-align: center;
	margin: 0 auto;
}

.jacy-text h3, .ben-text h3 {
	color: var(--off-lite);
}

.jacy-text p, .ben-text p {
	width: 80%;
	color: var(--off-lite);
}

.jacy, .ben {
	width: 50%;
}

.position {
	font-weight: 400;
	font-style: italic;
	font-size: 2rem;
}

.team-bio {
	display: flex;
	background-color: rgb(15, 15, 15);
	padding: 4%;
	box-shadow: 0 0 10px black;
}

#projects {
	box-shadow: 0 0 10px black;
}

.festival {
	background-image: url(assets/wiys-promo-poster.png);
	height: 120vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 6% 0;
}

.promotion button {
	padding: 0.75% 2%;
	font-size: 2rem;
	font-weight: var(--bold);
	background-color: var(--off-lite);
	border-radius: 10px;
	border: none;
	color: var(--dark);
	font-family: var(--raleway);
	box-shadow: 0 0 10px black;
	margin-top: 51%;
	margin-bottom: 20%;
}

.promotion button:hover {
	cursor: pointer;
}

.mother img {
	margin-top: 12%;
	margin-bottom: 0;
	width: 30%;
	box-shadow: 0 30px 50px rgb(63, 63, 63);
	border-radius: 5px;
}

.mother {
	background-color: var(--lite);
}

.mother h3 {
	margin-top: -6%;
	margin-bottom: -0.5%;
	padding-top: 8%;
	padding-bottom: 4%;
	box-shadow: 0 0 50px rgb(90, 90, 90);
	font-size: 4rem;
	background-color: var(--lite);
}

.mother button {
	padding: 0.75% 2%;
	font-size: 2rem;
	font-weight: var(--bold);
	background-color: var(--dark);
	border-radius: 10px;
	border: none;
	color: var(--off-lite);
	font-family: var(--raleway);
	box-shadow: 0 0 10px rgb(63, 63, 63);
	margin-top: -4%;
	margin-bottom: 10%;
}

.mother button:hover {
	cursor: pointer;
}

.mother p {
	padding-top: 1%;
	padding-bottom: 4%;
}

.solicit h3, .solicit p {
	color: var(--off-lite);
}

footer {
	background-color: var(--dark);
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-around;
	align-items: center;
	padding: 4% 2%;
	box-shadow: 0 0 10px black;
}

footer h4, footer a, footer p {
	color: var(--off-lite);
}

.footer-img-container {
	display: flex;
	width: 15%;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.footer-img-container img {
	width: 100%;
	height: 100%;
}

.footer-img-container a {
	width: 60%;
	height: 60%;
	padding: 0;
}

.puv {
	margin-right: 15%;
}

.mob {
	margin-left: 15%;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.social a {
	width: 50%;
	height: 50%;
	margin: 0 30%;
}

.fa-brands {
	color: var(--off-lite);
	font-size: 4rem;
	padding: 0;
}

.copyright {
	width: 13%;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 400px) {
	h2 {
		font-size: 2.4rem;
	}
	
	h3 {
		font-size: 2rem;
	}
	
	h4 {
		font-size: 1.4rem;
	}
	
	p {
		width: 80%;
		margin: 0 auto;
		padding: 4%;
		text-align: justify;
	}

	.header-text {
		height: 50vh;
		width: 100%;
		background-image: url(assets/header-bg-01.png);
		background-size: contain;	
		background-position: top;
		background-repeat: no-repeat;
	}

	h1 {
		font-size: 3.5rem;
		letter-spacing: .2rem;
		padding: 0;
		margin: 0;
		padding-top: 10%;
		text-shadow: 1px 1px 3px black;
	}
	
	.header-text p {
		font-size: 1.8rem;
		width: 70%;
		padding-top: 2%;
		text-align: center;
	}
	
	header {
		height: 32vh;
		background-image: none;
	}
	
	header nav {
		height: 7.5vh;
		background-color: rgb(221, 221, 221);
		position: fixed;
		width: 100%;
		opacity: 95%;
	}

	.overlay {
		height: 7.5vh;
	}

	.fa-equals {
		font-size: 4rem;
		color: var(--dark);
		left: 70%;
		width: 6%;
		}
	
	.fa-x {
		opacity: .9;
		top: 1%;
		left: 72%;
	}
	
	.menu {
		width: 100%;
	}
	
	.showMenu {
		width: 100%;
	}
	
	.anchor {
		margin-top: 50%;
	}
	
	li {
		margin-left: 27.5%;
	}

	.about {
		padding: 6%;
	}

	.about p {
		width: 100%;
	}

	.logo {
		width: 60%;
	}
	
	.spacer, .spacer1 {
		height: 6vh;
	}
	
	.spacer-wide {
		height: 10vh;
	}
	
	.team-bio {
		display: block;
		width: 100%;
	}
	.team-bio h3 {
		font-size: 2.2rem;
	}
	.jacy, .ben {
		margin: 5% auto;
		width: 100%;
	}
	.jacy-text, .ben-text {
		padding: 2%;
		width: 100%;
	}
	.team-bio p {
		font-size: 1.6rem;
		width: 100%;
	}
	
	.position {
		font-weight: 400;
		font-style: italic;
		font-size: 1.8rem;
	}
	
	#projects {
		box-shadow: 0 0 10px black;
		height: 100%;
	}
	
	.festival {
		height: 100%;
		background-size: contain;
		background-position: top;
		margin-top: 2%;
	}
	
	.promotion button {
		font-size: 1.6rem;
		border-radius: 5px;
		margin-top: 48%;
		width: 40%;
		padding: 1.5%;
	}
	
	.mother {
		margin-top: -10%;
	}

	.mother img {
		width: 50%;
	}
	
	.mother h3 {
		margin-top: -13%;
		padding-top: 20%;
		padding-right: 12.5%;
		padding-left: 12.5%;
		padding-bottom: 4%;
		font-size: 1.8rem;
		height: 25vh;
	}
	
	.mother button {
		font-size: 1.6rem;
		border-radius: 5px;
		border: none;
		width: 40%;
		margin-bottom: 20%;
	}
	
	footer {
		display: inline-block;
	}
	
	.footer-img-container {
		width: 50%;
		padding: 4% 0;
		margin: 0 auto;
	}

	address {
		padding: 4%;
	}
	
	.social {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 20%;
		margin: 0 auto;
	}
	
	.social a {
		width: 50%;
		height: 50%;
		margin: 30% 30%;
	}
	
	.fa-brands {
		color: var(--off-lite);
		font-size: 3rem;
		padding: 0;
		margin-top: 4%;
	}
	
	.copyright {
		width: 100%;
		text-align: center;
		padding: 4%;
		padding-top: 0;
	}
}

@media screen and (min-width: 401px) and (max-width: 600px) {
	h2 {
		font-size: 2.8rem;
	}
	
	h3 {
		font-size: 2.2rem;
	}
	
	h4 {
		font-size: 1.6rem;
	}

	.header-text {
		height: 50vh;
		width: 100%;
		background-image: url(assets/header-bg-01.png);
		background-size: contain;	
		background-position: top;
		background-repeat: no-repeat;
		margin-bottom: 4%;
	}

	h1 {
		font-size: 4rem;
		letter-spacing: .6rem;
		padding: 0;
		margin: 0;
		padding-top: 12%;
		text-shadow: 1px 1px 3px black;
	}
	
	.header-text p {
		font-size: 2.4rem;
		width: 70%;
		padding-top: 2%;
		text-align: center;
	}
	
	header {
		height: 32vh;
		background-image: none;
	}
	
	header nav {
		height: 7.5vh;
		background-color: rgb(221, 221, 221);
		position: fixed;
		width: 100%;
		opacity: 95%;
	}

	.overlay {
		height: 7.5vh;
	}

	.fa-equals {
		font-size: 6rem;
		color: var(--dark);
		height: 2%;
		margin-top: -1.25%;
		left: 72.5%;
		width: 6%;
		}
	
	.fa-x {
		font-size: 4rem;
		opacity: .9;
		top: 0;
		left: 75%;
	}
	
	.menu {
		width: 100%;
	}
	
	.showMenu {
		width: 100%;
	}
	
	.anchor {
		margin-top: 50%;
	}
	
	li {
		margin-left: 27.5%;
	}

	.about {
		padding: 10%;
	}

	.about p {
		width: 90%;
		font-size: 1.8rem;
	}

	.logo {
		margin-top: 4%;
		width: 50%;
	}
	
	.spacer1 {
		margin-top: 1%;
	}

	.spacer, .spacer1 {
		height: 6vh;
	}
	
	.spacer-wide {
		height: 10vh;
	}
	
	.team-bio {
		display: block;
		width: 100%;
	}
	.team-bio h3 {
		font-size: 2.4rem;
	}
	.jacy, .ben {
		margin: 5% auto;
		width: 100%;
	}
	.jacy-text, .ben-text {
		padding: 2%;
		width: 100%;
	}
	.team-bio p {
		font-size: 1.8rem;
	}
	
	.position {
		font-weight: 400;
		font-style: italic;
		font-size: 2.2rem;
	}
	
	#projects {
		box-shadow: 0 0 10px black;
		height: 50%;
	}
	
	.festival {
		width: 100%;
		height: 40%;
		background-size: contain;
		background-position: top;
		margin-top: 2%;
		padding-bottom: 0;
	}
	
	.promotion button {
		font-size: 2rem;
		border-radius: 5px;
		margin-top: 48%;
		width: 30%;
		padding: 1.5%;
	}
	
	.mother img {
		margin-top: 0%;
		margin-bottom: 0;
		width: 60%;
	}
	
	.mother h3 {
		margin-top: -17%;
		padding-top: 22.5%;
		padding-right: 12.5%;
		padding-left: 12.5%;
		padding-bottom: 4%;
		font-size: 2rem;
		height: 25vh;
	}
	
	.mother button {
		font-size: 2rem;
		border-radius: 5px;
		border: none;
		width: 25%;
		margin-bottom: 20%;
	}
	
	footer {
		display: inline-block;
	}
	
	.footer-img-container {
		width: 50%;
		padding: 4% 0;
		margin: 0 auto;
	}

	address {
		padding: 4%;
		font-size: 2rem;
		padding-bottom: 0;
	}
	
	.social {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 20%;
		margin: 0 auto;
	}
	
	.social a {
		width: 50%;
		height: 50%;
		margin: 30% 20%;
	}
	
	.fa-brands {
		color: var(--off-lite);
		font-size: 3rem;
		padding: 0;
		margin-top: 4%;
	}
	
	.copyright {
		width: 100%;
		text-align: center;
		padding: 4%;
		padding-top: 0;
	}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
	h2 {
		font-size: 3.5rem;
	}
	
	h3 {
		font-size: 2.8rem;
	}
	
	h4 {
		font-size: 2rem;
	}

	.header-text {
		height: 100vh;
		width: 100%;
		background-image: url(assets/header-bg-01.png);
		background-size: cover;	
		background-position: center;
		background-repeat: no-repeat;
	}

	h1 {
		font-size: 6rem;
		letter-spacing: .8rem;
		padding: 0;
		margin-top: 0;
		padding-top: 12.5%;
		text-shadow: 1px 1px 3px black;
	}
	
	.header-text p {
		font-size: 2.2rem;
		width: 70%;
		padding-top: 2%;
		text-align: center;
	}
	
	header {
		height: 100vh;
		background-image: none;
	}
	
	header nav {
		height: 12vh;
		background-color: rgb(221, 221, 221);
		position: fixed;
		width: 100%;
		opacity: 95%;
	}

	.overlay {
		height: 12vh;
	}

	.fa-equals {
		font-size: 5rem;
		color: var(--dark);
		height: 2%;
		margin-top: -1.66%;
		left: 72.5%;
		width: 6%;
		}
	
	.fa-x {
		font-size: 4rem;
		opacity: .9;
		top: 0;
		left: 75%;
	}
	
	.menu {
		width: 100%;
	}
	
	.showMenu {
		width: 100%;
	}
	
	.anchor {
		margin-top: 33%;
	}
	
	li {
		margin-left: 33%;
	}

	.about {
		padding: 10% 4%;
		padding-bottom: 10%;
	}

	.about p {
		width: 90%;
		font-size: 1.8rem;
	}

	.logo {
		margin-top: 4%;
		width: 50%;
	}
	
	.spacer1 {
		margin-top: 1%;
	}

	.spacer, .spacer1 {
		height: 6vh;
	}
	
	.spacer-wide {
		height: 10vh;
	}
	
	.team-bio {
		display: block;
		width: 100%;
	}
	.team-bio h3 {
		font-size: 2.4rem;
	}
	.jacy, .ben {
		margin: 5% auto;
		width: 100%;
	}
	.jacy-text, .ben-text {
		padding: 2%;
		width: 100%;
	}
	.team-bio p {
		font-size: 1.8rem;
	}
	
	.position {
		font-weight: 400;
		font-style: italic;
		font-size: 2.2rem;
	}
	
	#projects {
		box-shadow: 0 0 10px black;
		height: 50%;
	}
	
	.festival {
		width: 100%;
		height: 40%;
		background-size: contain;
		background-position: top;
		margin-top: 2%;
		padding-bottom: 0;
	}
	
	.promotion button {
		font-size: 2rem;
		border-radius: 5px;
		margin-top: 48%;
		width: 30%;
		padding: 1.5%;
	}
	
	.mother img {
		margin-top: 0%;
		margin-bottom: 0;
		width: 60%;
	}
	
	.mother h3 {
		margin-top: -17%;
		padding-top: 22.5%;
		padding-right: 12.5%;
		padding-left: 12.5%;
		padding-bottom: 20%;
		font-size: 2.4rem;
		height: 32.5vh;
	}
	
	.mother button {
		font-size: 2rem;
		border-radius: 5px;
		border: none;
		width: 25%;
		margin-bottom: 20%;
	}
	
	footer {
		display: inline-block;
	}
	
	.footer-img-container {
		width: 50%;
		padding: 4% 0;
		margin: 0 auto;
	}

	address {
		padding: 4%;
		font-size: 2rem;
		padding-bottom: 0;
	}
	
	.social {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 20%;
		margin: 0 auto;
	}
	
	.social a {
		width: 50%;
		height: 50%;
		margin: 30% 20%;
	}
	
	.fa-brands {
		color: var(--off-lite);
		font-size: 3rem;
		padding: 0;
		margin-top: 4%;
	}
	
	.copyright {
		width: 100%;
		text-align: center;
		padding: 4%;
		padding-top: 0;
	}
}

@media screen and (min-width: 801px) and (max-width: 1079px) {
	h2 {
		font-size: 3.5rem;
	}
	
	h3 {
		font-size: 2.8rem;
	}
	
	h4 {
		font-size: 2rem;
	}

	.header-text {
		height: 75vh;
		width: 100%;
		background-image: url(assets/header-bg-01.png);
		background-size: cover;	
		background-position: center;
		background-repeat: no-repeat;
	}

	h1 {
		font-size: 8rem;
		letter-spacing: 1.2rem;
		padding: 0;
		margin-top: 0;
		padding-top: 33%;
		text-shadow: 1px 1px 3px black;
	}
	
	.header-text p {
		font-size: 3.4rem;
		width: 50%;
		padding-top: 2%;
		text-align: center;
	}
	
	header {
		height: 75vh;
		background-image: none;
	}
	
	header nav {
		height: 7.5vh;
		background-color: rgb(221, 221, 221);
		position: fixed;
		width: 100%;
		opacity: 95%;
	}

	.overlay {
		height: 7.5vh;
	}

	.fa-equals {
		font-size: 6rem;
		color: var(--dark);
		height: 2%;
		margin-top: 0;
		left: 72.5%;
		width: 6%;
		}
	
	.fa-x {
		font-size: 4rem;
		opacity: .9;
		top: 0;
		left: 75%;
	}
	
	.menu {
		width: 100%;
	}
	
	.showMenu {
		width: 100%;
	}
	
	.anchor {
		margin-top: 33%;
	}
	
	li {
		margin-left: 33%;
	}

	.about {
		padding: 10% 4%;
		padding-bottom: 10%;
	}

	.about p {
		width: 90%;
		font-size: 1.8rem;
	}

	.logo {
		margin-top: 4%;
		width: 50%;
	}
	
	.spacer1 {
		margin-top: 1%;
	}

	.spacer, .spacer1 {
		height: 6vh;
	}
	
	.spacer-wide {
		height: 10vh;
	}
	
	.team-bio {
		display: block;
		width: 100%;
	}
	.team-bio h3 {
		font-size: 2.4rem;
	}
	.jacy, .ben {
		margin: 5% auto;
		width: 100%;
	}
	.jacy-text, .ben-text {
		padding: 2%;
		width: 100%;
	}
	.team-bio p {
		font-size: 1.8rem;
	}
	
	.position {
		font-weight: 400;
		font-style: italic;
		font-size: 2.2rem;
	}
	
	#projects {
		box-shadow: 0 0 10px black;
		height: 50%;
	}
	
	.festival {
		width: 100%;
		height: 40%;
		background-size: contain;
		background-position: top;
		margin-top: 2%;
		padding-bottom: 0;
	}
	
	.promotion button {
		font-size: 2rem;
		border-radius: 5px;
		margin-top: 48%;
		width: 30%;
		padding: 1.5%;
	}
	
	.mother img {
		margin-top: 0%;
		margin-bottom: 0;
		width: 60%;
	}
	
	.mother h3 {
		margin-top: -17%;
		padding-top: 22.5%;
		padding-right: 12.5%;
		padding-left: 12.5%;
		padding-bottom: 4%;
		font-size: 2.4rem;
		height: 32.5vh;
	}
	
	.mother button {
		font-size: 2rem;
		border-radius: 5px;
		border: none;
		width: 25%;
		margin-bottom: 20%;
	}
	
	footer {
		display: inline-block;
	}
	
	.footer-img-container {
		width: 50%;
		padding: 4% 0;
		margin: 0 auto;
	}

	address {
		padding: 4%;
		font-size: 2rem;
		padding-bottom: 0;
	}
	
	.social {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 20%;
		margin: 0 auto;
	}
	
	.social a {
		width: 50%;
		height: 50%;
		margin: 30% 20%;
	}
	
	.fa-brands {
		color: var(--off-lite);
		font-size: 3rem;
		padding: 0;
		margin-top: 4%;
	}
	
	.copyright {
		width: 100%;
		text-align: center;
		padding: 4%;
		padding-top: 0;
	}
}

@media screen and (min-width: 1080px) and (max-width: 1279px) {
	h1 {
		font-size: 10rem;
		letter-spacing: 1.6rem;
		padding-top: 6%;
	}

	h2 {
		font-size: 4rem;
	}

	.header-text p {
		font-size: 3.2rem;
		width: 30%;
	}

	.about img {
		width: 50%;
	}

	.about p {
		font-size: 2.4rem;
		width: 80%;
	}

	.festival {
		width: 100%;
		background-size: contain;
		background-position: top;
		height: 0%;
	}

	.festival button {
		margin-top: 49%;
		font-size: 3rem;
	}

	.mother img {
		width: 50%;
		margin-top: -10%;
	}

	.mother button {
		font-size: 3rem;
		width: 40%;
	}

	.mother h3 {
		font-size: 3rem;
		height: 35vh;
		padding-top: 11%;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
	.mother h3 {
		padding-top: 8%;
	}
}

@media screen and (max-height: 450px) {
	header nav {
		height: 12vh;
	}

	.overlay {
		height: 12vh;
	}

	.fa-equals {
		margin-top: -1%;
		font-size: 5rem;
	}

	.anchor {
		margin-top: 6.5%;
	}

	li {
		margin: 0 auto;
		padding: 1%;
		text-align: center;
	}

	.menuItem {
		font-size: 2.6rem;
	}

	.fa-x {
		font-size: 3rem;
	}

	h1 {
		padding-top: 3%;
	}

	.jacy img, .ben img {
		width: 30%;
	}

	.mother h3 {
		height: 100vh;
		font-size: 3.4rem;
	}

	.mother button {
		width: 30%;
		padding: 2%;
	}
}